.App {
  text-align: center;
  /* display : flex; */
}

.profile-pic{
  height : 300px;
  width : 300px;
  object-fit: cover;
  border-radius: 50%;
  transition : 0.2s
}

.profile-pic:hover{
      transform: scale(1.1);
}